In [4]:
# THIS COURSE IS the practice from the course online

In [5]:
#import packages
import pandas as pd
import numpy as np
import pandas as pd
import scipy as sp

In [6]:
import os
os.getcwd()

'/Users/ameliekong/My practice file/AI course youtube'

In [7]:
# import data set
datafile=pd.read_csv("Mallcustomers.csv")
print(datafile.head())

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [8]:
# look at the shape
print(datafile.shape)

(200, 5)

In [9]:
#remove the values of the RHS
x=datafile.iloc[:,:-1].values
print(x)

[[1 'Male' 19 15]
 [2 'Male' 21 15]
 [3 'Female' 20 16]
 [4 'Female' 23 16]
 [5 'Female' 31 17]
 [6 'Female' 22 17]
 [7 'Female' 35 18]
 [8 'Female' 23 18]
 [9 'Male' 64 19]
 [10 'Female' 30 19]
 [11 'Male' 67 19]
 [12 'Female' 35 19]
 [13 'Female' 58 20]
 [14 'Female' 24 20]
 [15 'Male' 37 20]
 [16 'Male' 22 20]
 [17 'Female' 35 21]
 [18 'Male' 20 21]
 [19 'Male' 52 23]
 [20 'Female' 35 23]
 [21 'Male' 35 24]
 [22 'Male' 25 24]
 [23 'Female' 46 25]
 [24 'Male' 31 25]
 [25 'Female' 54 28]
 [26 'Male' 29 28]
 [27 'Female' 45 28]
 [28 'Male' 35 28]
 [29 'Female' 40 29]
 [30 'Female' 23 29]
 [31 'Male' 60 30]
 [32 'Female' 21 30]
 [33 'Male' 53 33]
 [34 'Male' 18 33]
 [35 'Female' 49 33]
 [36 'Female' 21 33]
 [37 'Female' 42 34]
 [38 'Female' 30 34]
 [39 'Female' 36 37]
 [40 'Female' 20 37]
 [41 'Female' 65 38]
 [42 'Male' 24 38]
 [43 'Male' 48 39]
 [44 'Female' 31 39]
 [45 'Female' 49 39]
 [46 'Female' 24 39]
 [47 'Female' 50 40]
 [48 'Female' 27 40]
 [49 'Female' 29 40]
 [50 'Female' 31 40]
 [51 'Female' 49 42]
 [52 'Male' 33 42]
 [53 'Female' 31 43]
 [54 'Male' 59 43]
 [55 'Female' 50 43]
 [56 'Male' 47 43]
 [57 'Female' 51 44]
 [58 'Male' 69 44]
 [59 'Female' 27 46]
 [60 'Male' 53 46]
 [61 'Male' 70 46]
 [62 'Male' 19 46]
 [63 'Female' 67 47]
 [64 'Female' 54 47]
 [65 'Male' 63 48]
 [66 'Male' 18 48]
 [67 'Female' 43 48]
 [68 'Female' 68 48]
 [69 'Male' 19 48]
 [70 'Female' 32 48]
 [71 'Male' 70 49]
 [72 'Female' 47 49]
 [73 'Female' 60 50]
 [74 'Female' 60 50]
 [75 'Male' 59 54]
 [76 'Male' 26 54]
 [77 'Female' 45 54]
 [78 'Male' 40 54]
 [79 'Female' 23 54]
 [80 'Female' 49 54]
 [81 'Male' 57 54]
 [82 'Male' 38 54]
 [83 'Male' 67 54]
 [84 'Female' 46 54]
 [85 'Female' 21 54]
 [86 'Male' 48 54]
 [87 'Female' 55 57]
 [88 'Female' 22 57]
 [89 'Female' 34 58]
 [90 'Female' 50 58]
 [91 'Female' 68 59]
 [92 'Male' 18 59]
 [93 'Male' 48 60]
 [94 'Female' 40 60]
 [95 'Female' 32 60]
 [96 'Male' 24 60]
 [97 'Female' 47 60]
 [98 'Female' 27 60]
 [99 'Male' 48 61]
 [100 'Male' 20 61]
 [101 'Female' 23 62]
 [102 'Female' 49 62]
 [103 'Male' 67 62]
 [104 'Male' 26 62]
 [105 'Male' 49 62]
 [106 'Female' 21 62]
 [107 'Female' 66 63]
 [108 'Male' 54 63]
 [109 'Male' 68 63]
 [110 'Male' 66 63]
 [111 'Male' 65 63]
 [112 'Female' 19 63]
 [113 'Female' 38 64]
 [114 'Male' 19 64]
 [115 'Female' 18 65]
 [116 'Female' 19 65]
 [117 'Female' 63 65]
 [118 'Female' 49 65]
 [119 'Female' 51 67]
 [120 'Female' 50 67]
 [121 'Male' 27 67]
 [122 'Female' 38 67]
 [123 'Female' 40 69]
 [124 'Male' 39 69]
 [125 'Female' 23 70]
 [126 'Female' 31 70]
 [127 'Male' 43 71]
 [128 'Male' 40 71]
 [129 'Male' 59 71]
 [130 'Male' 38 71]
 [131 'Male' 47 71]
 [132 'Male' 39 71]
 [133 'Female' 25 72]
 [134 'Female' 31 72]
 [135 'Male' 20 73]
 [136 'Female' 29 73]
 [137 'Female' 44 73]
 [138 'Male' 32 73]
 [139 'Male' 19 74]
 [140 'Female' 35 74]
 [141 'Female' 57 75]
 [142 'Male' 32 75]
 [143 'Female' 28 76]
 [144 'Female' 32 76]
 [145 'Male' 25 77]
 [146 'Male' 28 77]
 [147 'Male' 48 77]
 [148 'Female' 32 77]
 [149 'Female' 34 78]
 [150 'Male' 34 78]
 [151 'Male' 43 78]
 [152 'Male' 39 78]
 [153 'Female' 44 78]
 [154 'Female' 38 78]
 [155 'Female' 47 78]
 [156 'Female' 27 78]
 [157 'Male' 37 78]
 [158 'Female' 30 78]
 [159 'Male' 34 78]
 [160 'Female' 30 78]
 [161 'Female' 56 79]
 [162 'Female' 29 79]
 [163 'Male' 19 81]
 [164 'Female' 31 81]
 [165 'Male' 50 85]
 [166 'Female' 36 85]
 [167 'Male' 42 86]
 [168 'Female' 33 86]
 [169 'Female' 36 87]
 [170 'Male' 32 87]
 [171 'Male' 40 87]
 [172 'Male' 28 87]
 [173 'Male' 36 87]
 [174 'Male' 36 87]
 [175 'Female' 52 88]
 [176 'Female' 30 88]
 [177 'Male' 58 88]
 [178 'Male' 27 88]
 [179 'Male' 59 93]
 [180 'Male' 35 93]
 [181 'Female' 37 97]
 [182 'Female' 32 97]
 [183 'Male' 46 98]
 [184 'Female' 29 98]
 [185 'Female' 41 99]
 [186 'Male' 30 99]
 [187 'Female' 54 101]
 [188 'Male' 28 101]
 [189 'Female' 41 103]
 [190 'Female' 36 103]
 [191 'Female' 34 103]
 [192 'Female' 32 103]
 [193 'Male' 33 113]
 [194 'Female' 38 113]
 [195 'Female' 47 120]
 [196 'Female' 35 120]
 [197 'Female' 45 126]
 [198 'Male' 32 126]
 [199 'Male' 32 137]
 [200 'Male' 30 137]]

In [10]:
#identify missing var
data=pd.read_csv("Sample_real_estate_data.csv")
print(data)
print(data['ST_NUM'].isnull())

           PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y            3        1  1000.0
1  100002000.0   197.0   LEXINGTON            N            3      1.5   100.0
2  100003000.0     NaN   LEXINGTON            N          NaN        1   850.0
3  100004000.0   201.0    BERKELEY           12            1      NaN   700.0
4          NaN   203.0    BERKELEY            Y            3        2  1600.0
5  100006000.0   207.0    BERKELEY            Y          NaN        1   800.0
6  100007000.0     NaN  WASHINGTON          NaN            2   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y            1        1     NaN
8  100009000.0   215.0     TREMONT            Y           na        2  1800.0
0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
Name: ST_NUM, dtype: bool

In [11]:

# Pandas can only identify NA missing values, nut not na OR n.a etc
print(data['NUM_BEDROOMS'].isnull())

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8    False
Name: NUM_BEDROOMS, dtype: bool

In [12]:
# define missing values
missing_values=["n/a","na","--"]
data=pd.read_csv("Sample_real_estate_data.csv",na_values=missing_values)
print(data['NUM_BEDROOMS'].isnull())

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8     True
Name: NUM_BEDROOMS, dtype: bool

In [13]:
# check another type of missing var - numerical within text
print(data["OWN_OCCUPIED"].isnull())
# actually the NO.3 is a numerical number, and it should be detected

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8    False
Name: OWN_OCCUPIED, dtype: bool

In [14]:

#another type of missing values e.g. suden number in a text column
count=0
for row in data["OWN_OCCUPIED"]:
    try :
        int(row)
        data.loc[count,"OWN_OCCUPIED"]=np.nan
    except ValueError:
        pass
    count+=1

In [15]:
## how many missing values by var
print(data.isnull().sum())

PID             1
ST_NUM          2
ST_NAME         0
OWN_OCCUPIED    2
NUM_BEDROOMS    3
NUM_BATH        1
SQ_FT           1
dtype: int64

In [16]:
#pip install -U scikit-learn scipy matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in /Users/ameliekong/.local/lib/python3.8/site-packages (1.0.2)
Requirement already satisfied: scipy in /Applications/JupyterLab.app/Contents/Resources/jlab_server/lib/python3.8/site-packages (1.7.3)
Requirement already satisfied: matplotlib in /Applications/JupyterLab.app/Contents/Resources/jlab_server/lib/python3.8/site-packages (3.5.1)
Requirement already satisfied: numpy>=1.14.6 in /Applications/JupyterLab.app/Contents/Resources/jlab_server/lib/python3.8/site-packages (from scikit-learn) (1.21.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/ameliekong/.local/lib/python3.8/site-packages (from scikit-learn) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /Users/ameliekong/.local/lib/python3.8/site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: fonttools>=4.22.0 in /Applications/JupyterLab.app/Contents/Resources/jlab_server/lib/python3.8/site-packages (from matplotlib) (4.28.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /Applications/JupyterLab.app/Contents/Resources/jlab_server/lib/python3.8/site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: pyparsing>=2.2.1 in /Applications/JupyterLab.app/Contents/Resources/jlab_server/lib/python3.8/site-packages (from matplotlib) (3.0.6)
Requirement already satisfied: python-dateutil>=2.7 in /Applications/JupyterLab.app/Contents/Resources/jlab_server/lib/python3.8/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in /Applications/JupyterLab.app/Contents/Resources/jlab_server/lib/python3.8/site-packages (from matplotlib) (8.4.0)
Requirement already satisfied: cycler>=0.10 in /Applications/JupyterLab.app/Contents/Resources/jlab_server/lib/python3.8/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: packaging>=20.0 in /Applications/JupyterLab.app/Contents/Resources/jlab_server/lib/python3.8/site-packages (from matplotlib) (21.3)
Requirement already satisfied: six>=1.5 in /Applications/JupyterLab.app/Contents/Resources/jlab_server/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [17]:
## impute missing data with mean value
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer=imputer.fit(data[["SQ_FT"]])
data["SQ_FT"]= imputer.transform(data[["SQ_FT"]])

In [20]:
## impute data of "numbers of bedrooms" with mediam values
print(data["NUM_BEDROOMS"])
median=data["NUM_BEDROOMS"].median()
print(median)
data["NUM_BEDROOMS"]=data["NUM_BEDROOMS"].fillna(median)
print(data["NUM_BEDROOMS"])

0    3.0
1    3.0
2    2.5
3    1.0
4    3.0
5    2.5
6    2.0
7    1.0
8    2.5
Name: NUM_BEDROOMS, dtype: float64
2.5
0    3.0
1    3.0
2    2.5
3    1.0
4    3.0
5    2.5
6    2.0
7    1.0
8    2.5
Name: NUM_BEDROOMS, dtype: float64

In [69]:
### encoding category var
data=pd.read_csv("Mallcustomers.csv")
data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [95]:
X=data.iloc[:,:-1].values
Y=data.iloc[:,4].values

array([[1, 'Male', 19, 15],
       [2, 'Male', 21, 15],
       [3, 'Female', 20, 16],
       [4, 'Female', 23, 16],
       [5, 'Female', 31, 17],
       [6, 'Female', 22, 17],
       [7, 'Female', 35, 18],
       [8, 'Female', 23, 18],
       [9, 'Male', 64, 19],
       [10, 'Female', 30, 19],
       [11, 'Male', 67, 19],
       [12, 'Female', 35, 19],
       [13, 'Female', 58, 20],
       [14, 'Female', 24, 20],
       [15, 'Male', 37, 20],
       [16, 'Male', 22, 20],
       [17, 'Female', 35, 21],
       [18, 'Male', 20, 21],
       [19, 'Male', 52, 23],
       [20, 'Female', 35, 23],
       [21, 'Male', 35, 24],
       [22, 'Male', 25, 24],
       [23, 'Female', 46, 25],
       [24, 'Male', 31, 25],
       [25, 'Female', 54, 28],
       [26, 'Male', 29, 28],
       [27, 'Female', 45, 28],
       [28, 'Male', 35, 28],
       [29, 'Female', 40, 29],
       [30, 'Female', 23, 29],
       [31, 'Male', 60, 30],
       [32, 'Female', 21, 30],
       [33, 'Male', 53, 33],
       [34, 'Male', 18, 33],
       [35, 'Female', 49, 33],
       [36, 'Female', 21, 33],
       [37, 'Female', 42, 34],
       [38, 'Female', 30, 34],
       [39, 'Female', 36, 37],
       [40, 'Female', 20, 37],
       [41, 'Female', 65, 38],
       [42, 'Male', 24, 38],
       [43, 'Male', 48, 39],
       [44, 'Female', 31, 39],
       [45, 'Female', 49, 39],
       [46, 'Female', 24, 39],
       [47, 'Female', 50, 40],
       [48, 'Female', 27, 40],
       [49, 'Female', 29, 40],
       [50, 'Female', 31, 40],
       [51, 'Female', 49, 42],
       [52, 'Male', 33, 42],
       [53, 'Female', 31, 43],
       [54, 'Male', 59, 43],
       [55, 'Female', 50, 43],
       [56, 'Male', 47, 43],
       [57, 'Female', 51, 44],
       [58, 'Male', 69, 44],
       [59, 'Female', 27, 46],
       [60, 'Male', 53, 46],
       [61, 'Male', 70, 46],
       [62, 'Male', 19, 46],
       [63, 'Female', 67, 47],
       [64, 'Female', 54, 47],
       [65, 'Male', 63, 48],
       [66, 'Male', 18, 48],
       [67, 'Female', 43, 48],
       [68, 'Female', 68, 48],
       [69, 'Male', 19, 48],
       [70, 'Female', 32, 48],
       [71, 'Male', 70, 49],
       [72, 'Female', 47, 49],
       [73, 'Female', 60, 50],
       [74, 'Female', 60, 50],
       [75, 'Male', 59, 54],
       [76, 'Male', 26, 54],
       [77, 'Female', 45, 54],
       [78, 'Male', 40, 54],
       [79, 'Female', 23, 54],
       [80, 'Female', 49, 54],
       [81, 'Male', 57, 54],
       [82, 'Male', 38, 54],
       [83, 'Male', 67, 54],
       [84, 'Female', 46, 54],
       [85, 'Female', 21, 54],
       [86, 'Male', 48, 54],
       [87, 'Female', 55, 57],
       [88, 'Female', 22, 57],
       [89, 'Female', 34, 58],
       [90, 'Female', 50, 58],
       [91, 'Female', 68, 59],
       [92, 'Male', 18, 59],
       [93, 'Male', 48, 60],
       [94, 'Female', 40, 60],
       [95, 'Female', 32, 60],
       [96, 'Male', 24, 60],
       [97, 'Female', 47, 60],
       [98, 'Female', 27, 60],
       [99, 'Male', 48, 61],
       [100, 'Male', 20, 61],
       [101, 'Female', 23, 62],
       [102, 'Female', 49, 62],
       [103, 'Male', 67, 62],
       [104, 'Male', 26, 62],
       [105, 'Male', 49, 62],
       [106, 'Female', 21, 62],
       [107, 'Female', 66, 63],
       [108, 'Male', 54, 63],
       [109, 'Male', 68, 63],
       [110, 'Male', 66, 63],
       [111, 'Male', 65, 63],
       [112, 'Female', 19, 63],
       [113, 'Female', 38, 64],
       [114, 'Male', 19, 64],
       [115, 'Female', 18, 65],
       [116, 'Female', 19, 65],
       [117, 'Female', 63, 65],
       [118, 'Female', 49, 65],
       [119, 'Female', 51, 67],
       [120, 'Female', 50, 67],
       [121, 'Male', 27, 67],
       [122, 'Female', 38, 67],
       [123, 'Female', 40, 69],
       [124, 'Male', 39, 69],
       [125, 'Female', 23, 70],
       [126, 'Female', 31, 70],
       [127, 'Male', 43, 71],
       [128, 'Male', 40, 71],
       [129, 'Male', 59, 71],
       [130, 'Male', 38, 71],
       [131, 'Male', 47, 71],
       [132, 'Male', 39, 71],
       [133, 'Female', 25, 72],
       [134, 'Female', 31, 72],
       [135, 'Male', 20, 73],
       [136, 'Female', 29, 73],
       [137, 'Female', 44, 73],
       [138, 'Male', 32, 73],
       [139, 'Male', 19, 74],
       [140, 'Female', 35, 74],
       [141, 'Female', 57, 75],
       [142, 'Male', 32, 75],
       [143, 'Female', 28, 76],
       [144, 'Female', 32, 76],
       [145, 'Male', 25, 77],
       [146, 'Male', 28, 77],
       [147, 'Male', 48, 77],
       [148, 'Female', 32, 77],
       [149, 'Female', 34, 78],
       [150, 'Male', 34, 78],
       [151, 'Male', 43, 78],
       [152, 'Male', 39, 78],
       [153, 'Female', 44, 78],
       [154, 'Female', 38, 78],
       [155, 'Female', 47, 78],
       [156, 'Female', 27, 78],
       [157, 'Male', 37, 78],
       [158, 'Female', 30, 78],
       [159, 'Male', 34, 78],
       [160, 'Female', 30, 78],
       [161, 'Female', 56, 79],
       [162, 'Female', 29, 79],
       [163, 'Male', 19, 81],
       [164, 'Female', 31, 81],
       [165, 'Male', 50, 85],
       [166, 'Female', 36, 85],
       [167, 'Male', 42, 86],
       [168, 'Female', 33, 86],
       [169, 'Female', 36, 87],
       [170, 'Male', 32, 87],
       [171, 'Male', 40, 87],
       [172, 'Male', 28, 87],
       [173, 'Male', 36, 87],
       [174, 'Male', 36, 87],
       [175, 'Female', 52, 88],
       [176, 'Female', 30, 88],
       [177, 'Male', 58, 88],
       [178, 'Male', 27, 88],
       [179, 'Male', 59, 93],
       [180, 'Male', 35, 93],
       [181, 'Female', 37, 97],
       [182, 'Female', 32, 97],
       [183, 'Male', 46, 98],
       [184, 'Female', 29, 98],
       [185, 'Female', 41, 99],
       [186, 'Male', 30, 99],
       [187, 'Female', 54, 101],
       [188, 'Male', 28, 101],
       [189, 'Female', 41, 103],
       [190, 'Female', 36, 103],
       [191, 'Female', 34, 103],
       [192, 'Female', 32, 103],
       [193, 'Male', 33, 113],
       [194, 'Female', 38, 113],
       [195, 'Female', 47, 120],
       [196, 'Female', 35, 120],
       [197, 'Female', 45, 126],
       [198, 'Male', 32, 126],
       [199, 'Male', 32, 137],
       [200, 'Male', 30, 137]], dtype=object)

In [106]:

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
lblencode=LabelEncoder()
X[:,1]=lblencode.fit_transform(X[:,1])

In [107]:

# Country column
ct = ColumnTransformer([("Gender", OneHotEncoder(), [1])], remainder = 'passthrough')
X = ct.fit_transform(X)

In [108]:
X  # Female is the column O, followed by Males. the third column is customer ID

array([[0.0, 1.0, 0.0, 1, 19, 15],
       [0.0, 1.0, 0.0, 2, 21, 15],
       [1.0, 0.0, 1.0, 3, 20, 16],
       ...,
       [0.0, 1.0, 0.0, 198, 32, 126],
       [0.0, 1.0, 0.0, 199, 32, 137],
       [0.0, 1.0, 0.0, 200, 30, 137]], dtype=object)

In [101]:
# split data to training and test 
os.getcwd()

'/Users/ameliekong/My practice file/AI course youtube'

In [110]:
#spliting  dataset
dataset=pd.read_csv("california_housing_train.csv")
dataset.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,-114.31,34.19,15,5612,1283,1015,472,1.4936,66900,NaN,NaN,NaN
1,-114.47,34.40,19,7650,1901,1129,463,1.8200,80100,NaN,NaN,NaN
2,-114.56,33.69,17,720,174,333,117,1.6509,85700,NaN,NaN,NaN
3,-114.57,33.64,14,1501,337,515,226,3.1917,73400,NaN,NaN,NaN
4,-114.57,33.57,20,1454,326,624,262,1.9250,65500,NaN,NaN,NaN

In [115]:
X=dataset.iloc[:,:-1].values
Y=dataset.iloc[:,8].values
dataset.shape

(16999, 12)

In [117]:
from sklearn.model_selection import train_test_split

In [118]:
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.2, random_state=0)